body.cyber-bg {
    margin: 0;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle at center, #0f2027, #000000);
    color: #00ffff;
}

.logo {
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
    text-shadow: 0 0 10px #00ffff;
}

.subtitle {
    text-align: center;
    color: #ccc;
}

.center-box {
    text-align: center;
    margin-top: 100px;
}

.disclaimer {
    border: 2px solid red;
    padding: 20px;
    margin: 30px auto;
    width: 60%;
    color: #fff;
    background: rgba(255, 0, 0, 0.1);
}

.enter-btn {
    padding: 10px 20px;
    background: #00ffff;
    color: black;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 0 15px #00ffff;
}

.container {
    width: 90%;
    margin: auto;
}

.card-container {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.card {
    border: 2px solid #00ffff;
    padding: 30px;
    width: 25%;
    text-align: center;
    box-shadow: 0 0 15px #00ffff;
    transition: 0.3s;
}

.card:hover {
    background: #00ffff;
    color: black;
}

.big-card {
    margin-top: 60px;
    padding: 60px;
    border: 2px solid #00ffff;
    text-align: center;
    font-size: 28px;
    box-shadow: 0 0 20px #00ffff;
}